---

---

<header class="header legal-header">
    <a href="/legal" class="links">Privacy Policy</a>
    <a href="/legal/terms" class="links">Terms of Use</a>
    <a href="/legal/cookies" class="links">Cookie Policy</a>
</header>

<style>
    .header {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        margin-block: 40px;
        gap: 1px;
        font-size: 16px;

        --background-button: #ffffff11;
        --background-button-hover: #ffffff22;
        --background-button-active: #ffffff44;

        --color-button: #eeeeee;
    }
    .links {
        flex: 1;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 12px 20px;
        background: var(--background-button);
        color: var(--color-button);
        text-decoration: none;
        transition: 0.2s;
        text-align: center;
    }

    .links:hover {
        color: #ffffff;
        background-color: var(--background-button-hover);
        box-shadow: 0 0 0 1px var(--shadow-button-hover) inset;
    }
    .links:first-child {
        border-radius: 10px 0 0 10px;
    }
    .links:last-child {
        border-radius: 0 10px 10px 0;
    }
    .links.active {
        background-color: var(--background-button-active);
        box-shadow: 0 0 0 1px var(--shadow-button-active) inset;
    }
</style>

<script load:client>
    document.querySelectorAll(".legal-header .links").forEach((a) => {
        if (a.getAttribute("href") === location.pathname || a.getAttribute("href") + "/" === location.pathname)
            a.classList.add("active");
    });
</script>