---
import FormArea from "../../components/form/FormArea.astro";
import FormInput from "../../components/form/FormInput.astro";
import Forms from "../../components/form/Forms.astro";
import FormSelect from "../../components/form/FormSelect.astro";
import FormWrap from "../../components/form/FormWrap.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Contact">
    <div class="header">
        <h2 class="title">Contact</h2>
        <p class="content">
            Send me a message here of Connect to me on Social Media.
        </p>
    </div>
    <Forms>
        <FormWrap>
            <FormInput id="name" label="Full name" autoComplete="name" type="text" required={true} />
            <FormInput id="email" label="Email address" autoComplete="email" type="text" required={true} />
        </FormWrap>
        <FormWrap>
            <FormArea id="message" label="Message" required={true} />
        </FormWrap>
    </Forms>
</Layout>

<style>
    .header {
        margin: auto;
        width: 100%;
        max-width: 1000px;
        text-align: center;
    }
    .title {
        color: var(--logo-color);
    }
    .content {
        color: #fff7;
    }
</style>
