---
import FlyCard from "../components/FlyCard.astro";
import FoldCard from "../components/FoldCard.astro";
import Action from "../components/home/Action.astro";
import Application from "../components/home/Application.astro";
import Intro from "../components/home/Intro.astro";
import IntroCards from "../components/home/IntroCards.astro";
import Swipper from "../components/home/Swipper.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="">
    <Intro />
    <FoldCard>
        <h1>Hi, I’m Shivam Dewangan. Nice to meet you.</h1>
        <p>
            Four years ago, my journey as a full-stack developer began after
            high school. I'm passionate about continual learning and
            improvement, always striving to solve design challenges with
            creativity and curiosity. I approach every project with confidence
            and enthusiasm, and love what I do in this dynamic and constantly
            evolving field.
        </p>
    </FoldCard>
    <Swipper />
    <FlyCard width="1200" area={true}>
        <IntroCards />
    </FlyCard>
    <Action
        title="Drop Me a Line"
        info="I'm always happy to connect with other professionals and creatives. Whether you're looking for a collaborator, want to discuss industry trends, or just want to chat about your favorite projects, drop me a line and let's get the conversation started."
        text="Contact me"
        link="/contact"
    />
    <Application />
    <Action
        title="Cooperative Innovation"
        info="Let's build a successful startup together by combining our expertise, passion, and creativity!"
        text="Plan a Startup"
        link="/startup"
    />
</Layout>

<style></style>
