---
	export interface Props {
		width: string;
		area?: boolean;
	}

	let { width, area } = Astro.props as Props;
	width = width || '1000';
	width = `card-of-width width-${width}`;
	let cardClass = area ? "card-body" : "";
	cardClass += " card-wrap activity slide-in";
---

<div class="fly-card">
	<div class={width}>
		<div class={cardClass}>
			{area ? <div class="card-flex"><slot /></div> : <slot />}
		</div>
	</div>
</div>
<style>
	.fly-card {
		display: block;
		width: 100%;
		padding: 0 10px;
	}
	.card-wrap {
		overflow: hidden;
	}
	.card-body > .card-flex {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		flex-wrap: nowrap;
	}
	.card-body {
		min-height: 20rem;
		background: #1a1b2f65;
		backdrop-filter: blur(8px);
		box-shadow: 0 2px 4px 2px #0001;
		border-radius: 15px;
		transition: top 1s, opacity 1s, box-shadow .2s !important;
		border: 1px solid #fff4;
	}
	.card-body:hover {
		box-shadow: 0 2px 4px 2px #0002;
	}
	@media screen and (max-width: 701px) {
		.card-flex {
			flex-direction: column;
		}
	}
</style>
